* {box-sizing: border-box;}
main {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  
  h1 {
    font-family: 'Barriecito', cursive;
    color: white;
    font-size: xx-large;
  }


  .fairly-odd-page {
    background-image: url("images/FOP-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 20px;
    padding-top: 40px;
  }
  nav ul {
    display: flex;
    list-style: none;
    margin-top: 0;
  }
  nav li {
    margin-right: 40px;
    flex: 1;
  }

  a { color: white}
  body { font-family:”Oswald”}
  Nav li {font-family:fred}